* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Light.otf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
}

body {
  font-family: Montserrat, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 700px;
  background: url(../img/banner.jpg) no-repeat center / cover;

  .title_login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;

    h1 {
      margin: 0;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
    }

    .login {
      display: flex;

      a {
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
      }

      .sign_up {
        width: 90px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          border: 2px solid #fff;
          border-radius: 20px;
        }
      }
    }
  }

  .share_dreams {
    margin: auto;
    margin-top: 143px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      width: 500px;
      font-size: 52px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
    }

    p {
      margin-top: 30px;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 300;
      color: #fff;
    }

    .find_partner {
      width: 225px;
      height: 40px;
      background: #ff4e50;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      span {
        font-size: 14px;
        font-weight: 700;
        color: #fff;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 748px;
  }

  header {

    .title_login {
      width: 89%;
      margin: 0 auto;
      margin-top: 38px;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 300px;
  }

  header {
    height: 540px;

    .title_login {
      width: auto;
      height: auto;
      margin: 0 auto;
      display: flex;
      flex-direction: column-reverse;

      h1 {
        margin-top: 110px;
      }

      .login {
        margin-top: 20px;
      }
    }

    .share_dreams {
      margin-top: 40px;

      h1 {
        width: 280px;
        font-size: 30px;
      }

      p {
        margin-top: 30px;
        font-size: 18px;
      }

      .find_partner {
        width: 280px;
        border-radius: 20px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {

}


@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {

}


@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {

}


@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {

}


@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {

}


@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {

}
