// to compile...

@import "./_components/_Montserrat.scss";
@import "./_components/_Roboto.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  font-family: Montserrat, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  height: 700px;
  background: url(../img/banner.jpg) no-repeat center / cover;

  .title_login {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 38px;

    .dreamshare-logo {
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
    }

    .login {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      a {
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
      }

      .sign_up {
        width: 90px;
        height: 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        cursor: pointer;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;

        &:hover {
          border: 2px solid #fff;
          border-radius: 20px;
        }
      }
    }
  }

  .share_dreams {
    margin: auto;
    margin-top: 143px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: hidden;

    h1 {
      width: 505px;
      font-size: 52px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
    }

    p {
      margin: 30px auto;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 300;
      color: #fff;
      text-align: center;
    }

    .find_partner {
      width: 225px;
      height: 40px;
      background: #ff4e50;
      border-radius: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      cursor: pointer;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;

      span {
        font-size: 14px;
        font-weight: 700;
        color: #fff;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 748px;
  }

  header {
    .title_login {
      width: 89%;
      margin: 0 auto;
      margin-top: 38px;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 530px;
  }
}

@media screen and (max-width: 567px) {
  .container {
    width: 300px;
  }

  header {
    height: 540px;

    .title_login {
      width: auto;
      height: auto;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;

      h1 {
        margin-top: 110px;
      }

      .login {
        margin-top: 20px;
      }
    }

    .share_dreams {
      margin-top: 40px;

      h1 {
        width: 280px;
        font-size: 30px;
      }

      p {
        margin-top: 30px;
        font-size: 18px;
      }

      .find_partner {
        width: 280px;
        border-radius: 20px;
      }
    }
  }
}

.title_heading {
  font-size: 22px;
  font-weight: 700;
  color: #333;
  margin: 0;
  margin-top: 100px;
  margin-bottom: 40px;
  overflow: hidden;
}

.how_works {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  .steps {
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    .step {
      width: 300px;
      height: 400px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      border-radius: 5px;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;
      overflow-x: hidden;

      &:hover {
        opacity: 0.9;
      }

      .step_cont {
        width: 260px;
        margin: 0 auto;
      }

      .step_btn {
        width: 70px;
        height: 20px;
        border-radius: 10px;
        background: #ff4e50;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        span {
          font-size: 10px;
          font-weight: 400;
          color: #fff;
          text-transform: uppercase;
          cursor: pointer;
          -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      h1 {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
      }

      p {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        color: #ccc;
      }
    }

    .step_01 {
      background: url(../img/step_01.jpg) no-repeat center / cover;
    }

    .step_02 {
      background: url(../img/step_02.jpg) no-repeat center / cover;
    }

    .step_03 {
      background: url(../img/step_03.jpg) no-repeat center / cover;
    }
  }
}

@media screen and (max-width: 991px) {
  .how_works {
    .steps {
      .step {
        width: 236px;
        height: 400px;

        .step_cont {
          width: 205px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .how_works {
    .steps {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;

      .step {
        width: 400px;
        height: 270px;
        margin: 0 auto;
        margin-bottom: 20px;

        h1 {
          width: 100%;
        }

        p {
          width: 115%;
        }
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .title_heading {
    width: 280px;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 20px;
  }

  .how_works {
    .steps {
      .step {
        width: 300px;
        height: 240px;
      }
    }
  }
}

.meet_partner {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  .partners {
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    .two_partners {
      width: 49%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
    }

    .partner {
      width: 225px;
      height: 250px;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      overflow-x: hidden;

      .img_partner {
        width: 120px;
        height: 120px;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;

        &:hover {
          opacity: 0.9;
        }
      }

      .img_icon {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 45%;
        left: 60%;
        cursor: pointer;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;

        &:hover {
          opacity: 0.8;
        }
      }

      #icon_03 {
        top: 37%;
      }

      h1 {
        font-size: 14px;
        font-weight: 700;
        color: #333;
        margin: 0;
        margin-top: 20px;
      }

      p {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        color: #666;
        text-align: center;
        margin: 0;
        margin-top: 20px;
      }
    }
  }

  .other_partners {
    width: 190px;
    height: 38px;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    overflow-x: hidden;

    span {
      font-size: 14px;
      font-weight: 700;
      color: #ff4e50;
    }

    &:hover {
      background: #ff4e50;

      span {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .meet_partner {
    .partners {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;

      .two_partners {
        width: inherit;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        margin-bottom: 15px;
      }
    }

    .other_partners {
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 567px) {
  .meet_partner {
    .partners {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;

      .two_partners {
        width: inherit;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        .partner {
          margin-bottom: 15px;
        }
      }
    }

    .other_partners {
      margin-top: 0;
      width: 280px;
    }
  }
}

.holiday_activity {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  .activities {
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .activ_high {
    width: 300px;
    height: 310px;

    span {
      width: 190px;
      text-align: center;
    }
  }

  .activ_wide {
    width: 620px;
    height: 310px;
  }

  .activity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    overflow-x: hidden;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;


    &:hover {
      opacity: 0.9;
    }

    span {
      font-size: 22px;
      font-weight: 700;
      color: #fff;
    }
  }

  .activity_01 {
    background: url(../img/activity_01.jpg) no-repeat center / cover;
  }

  .activity_02 {
    background: url(../img/activity_02.jpg) no-repeat center / cover;
  }

  .activity_03 {
    background: url(../img/activity_03.jpg) no-repeat center / cover;
  }

  .activity_04 {
    background: url(../img/activity_04.jpg) no-repeat center / cover;
  }

  .activity_05 {
    background: url(../img/activity_05.jpg) no-repeat center / cover;
  }

  .activity_06 {
    background: url(../img/activity_06.jpg) no-repeat center / cover;
  }

  .activity_07 {
    background: url(../img/activity_07.jpg) no-repeat center / cover;
  }
}

@media screen and (max-width: 991px) {
  .holiday_activity {
    .activ_high {
      width: 236px;
    }

    .activ_wide {
      width: 490px;
    }
  }
}

@media screen and (max-width: 767px) {
  .holiday_activity {
    .activities {
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
  }
}

@media screen and (max-width: 567px) {
  .holiday_activity {
    .activity {
      width: 300px;
      height: 120px;
      margin-bottom: 10px;
    }
  }
}

.discover_activity {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  .title_heading {
    margin: 0;
    margin-top: 70px;
    margin-bottom: 35px;
  }

  p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    margin: 0;
  }

  .discover_partner {
    width: 410px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
    overflow-x: hidden;

    input {
      width: 240px;
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 3px;
      outline-color: #333;
      padding-left: 15px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 300;
    }

    .search_partners {
      width: 160px;
      height: 40px;
      background: #ff4e50;
      border-radius: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      cursor: pointer;
      -webkit-transition: all, 0.5s;
      transition: all, 0.5s;

      span {
        font-size: 14px;
        font-weight: 700;
        color: #fff;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .discover_activity {
    .title_heading {
      margin: 0;
      margin-top: 40px;
      margin-bottom: 20px;
    }

    .discover_partner {
      width: auto;
      height: 90px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 15px;
      margin-bottom: 40px;

      input {
        width: 280px;
      }

      .search_partners {
        width: 280px;
      }
    }
  }
}

footer {
  hr {
    height: 4px;
    background: #ff4e50;
    border: none;
    margin: 0;
  }

  .footer_info {
    width: inherit;
    height: 155px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;

    h1 {
      font-size: 16px;
      font-weight: 700;
      color: #ff4e50;
      text-transform: uppercase;
      margin: 0;
    }

    span {
      font-size: 14px;
      font-weight: 700;
      color: #333;
    }

    .about_us {
      margin-left: 115px;

      ul {
        margin: 0;
        margin-top: 20px;
        padding: 0;

        li {
          list-style: none;
          line-height: 1.5;

          a {
            text-decoration: none;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 300;
            color: #666;
            cursor: pointer;
            -webkit-transition: all, 0.3s;
            transition: all, 0.3s;

            &:hover {
              color: red;
              font-weight: 700;
            }
          }
        }
      }
    }

    #partn {
      margin-left: 170px;
    }

    #design {
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 991px) {
  footer {
    .footer_info {
      h1 {
        margin-left: 30px;
      }

      .about_us {
        margin-left: 100px;
      }

      #partn {
        margin-left: 105px;
      }

      #design {
        margin-left: auto;
        margin-right: 30px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  footer {
    .footer_info {
      h1 {
        margin-left: 15px;
      }

      .about_us {
        margin-left: 50px;
      }

      #partn {
        margin-left: 50px;
      }

      #design {
        margin-left: auto;
        margin-right: 15px;
      }
    }
  }
}

@media screen and (max-width: 567px) {
  footer {

    .footer_info {
      width: inherit;
      height: 170px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 20px;

      .about_us {
        margin-left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        ul {
          margin-top: 0;
          width: 200px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
        }
      }

      #partn {
        margin-left: 0;
      }

      #design {
        margin-left: 0;
        margin-bottom: 17px;
        -webkit-transform: translateX(-15px);
                transform: translateX(-15px);
      }
    }
  }
}
