* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Light.otf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
}

body {
  font-family: Montserrat, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 700px;
  background: url(../img/banner.jpg) no-repeat center / cover;

  .title_login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;

    h1 {
      margin: 0;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
    }

    .login {
      display: flex;

      a {
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
      }

      .sign_up {
        width: 90px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          border: 2px solid #fff;
          border-radius: 20px;
        }
      }
    }
  }

  .share_dreams {
    margin: auto;
    margin-top: 143px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      width: 500px;
      font-size: 52px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
    }

    p {
      margin-top: 30px;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 300;
      color: #fff;
    }

    .find_partner {
      width: 225px;
      height: 40px;
      background: #ff4e50;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      span {
        font-size: 14px;
        font-weight: 700;
        color: #fff;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 748px;
  }

  header {
    .title_login {
      width: 89%;
      margin: 0 auto;
      margin-top: 38px;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 300px;
  }

  header {
    height: 540px;

    .title_login {
      width: auto;
      height: auto;
      margin: 0 auto;
      display: flex;
      flex-direction: column-reverse;

      h1 {
        margin-top: 110px;
      }

      .login {
        margin-top: 20px;
      }
    }

    .share_dreams {
      margin-top: 40px;

      h1 {
        width: 280px;
        font-size: 30px;
      }

      p {
        margin-top: 30px;
        font-size: 18px;
      }

      .find_partner {
        width: 280px;
        border-radius: 20px;
      }
    }
  }
}

.title_heading {
  font-size: 22px;
  font-weight: 700;
  color: #333;
  margin: 0;
  margin-top: 100px;
  margin-bottom: 40px;
}

.how_works {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;

  .steps {
    width: inherit;
    display: flex;
    justify-content: space-between;

    .step {
      width: 300px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 5px;

      .step_cont {
        width: 260px;
        margin: 0 auto;
      }

      .step_btn {
        width: 70px;
        height: 20px;
        border-radius: 10px;
        background: #ff4e50;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-size: 10px;
          font-weight: 400;
          color: #fff;
          text-transform: uppercase;
          cursor: pointer;

          &:hover {
            opacity: 0.9;
          }
        }
      }

      h1 {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
      }

      p {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        color: #ccc;
      }
    }

    .step_01 {
      background: url(../img/step_01.jpg) no-repeat center / cover;
    }

    .step_02 {
      background: url(../img/step_02.jpg) no-repeat center / cover;
    }

    .step_03 {
      background: url(../img/step_03.jpg) no-repeat center / cover;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how_works {
    .steps {
      .step {
        width: 236px;
        height: 400px;

        .step_cont {
          width: 205px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .title_heading {
    width: 280px;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 20px;
  }

  .how_works {
    .steps {
      height: 740px;
      flex-direction: column;
      justify-content: space-between;

      .step {
        width: 300px;
        height: 240px;
      }
    }
  }
}

.meet_partner {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;

  .partners {
    width: inherit;
    display: flex;
    justify-content: space-between;

    .two_partners {
      width: 49%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    .partner {
      width: 225px;
      height: 250px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .img_partner {
        width: 120px;
        height: 120px;
      }

      .img_icon {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 45%;
        left: 60%;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      #icon_03 {
        top: 37%;
      }

      h1 {
        font-size: 14px;
        font-weight: 700;
        color: #333;
        margin: 0;
        margin-top: 20px;
      }

      p {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        color: #666;
        text-align: center;
        margin: 0;
        margin-top: 20px;
      }
    }
  }

  .other_partners {
    width: 190px;
    height: 38px;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
      font-size: 14px;
      font-weight: 700;
      color: #ff4e50;
    }

    &:hover {
      background: #ff4e50;

      span {
        color: #fff;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .meet_partner {
    .partners {
      display: flex;
      flex-direction: column;

      .two_partners {
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-bottom: 15px;
      }
    }

    .other_partners {
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 767px) {
  .meet_partner {
    .partners {
      display: flex;
      flex-direction: column;

      .two_partners {
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;

        .partner {
          margin-bottom: 15px;
        }
      }
    }

    .other_partners {
      margin-top: 0;
      width: 280px;
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {

}


@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {

}


@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {

}


@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {

}
